<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Students Backbone App</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  </head>

  <body>

    <div class="site">

      <!-- <div class="logo">
        <img src="images/site/logo.png" width="207" height="124" alt="Awesome Students" />
      </div> -->

      <div id="allStudents"></div>

      <div id="copy"></div>

      <div id='new-student-form'>
        <form class="" action="index.html" method="post">

          Enter Student First Name: <input class='first-name-field'>
          Enter Student Last Name: <input class='last-name-field'>
          <input type="button" id='submit' name="submit newStudent" value="submit">

        </form>

      </div>

    </div>

    <script id="student-table" type="text/template">

      <thead>
        <tr>
          <th column="first_name"><div>First Name</div></th>
          <th column="last_name"><div>Last Name</div></th>
          <th column="image"><div>Image</div></th>
        </tr>
      </thead>

      <tbody>

      </tbody>

    </script>

    <script id="student-row" type="text/template">
      <td><div><%= first_name %></div></td>
      <td><div><%= last_name %></div></td>
      <td><img src='<%= image %>'></div></td>
    </script>

    <!-- <script id='form' type="text/template">
      Enter Student First Name: <input class='first-name-field'>
      Enter Student Last Name: <input class='last-name-field'>
      <p>The name you entered is <span class="nameText"></span></p>
    </script> -->

    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="js/models/singleStudentModel.js"></script>
    <script src="js/views/singleStudentView.js"></script>
    <script src="js/views/allStudentsView.js"></script>
    <script src="js/collections/allStudents.js"></script>
    <script src="js/routes/router.js"></script>
    <script src="js/app.js"></script>
  </body>

</html>
